
body{

    background-image: url(/img/fondo8.jpg);
    background-repeat: no-repeat;
    
    
     
}
#contentWrap{
    display: none;
}
.error{


    color: red;
}
.whisper{
    color: gray;
    font-style: italic;
}